
@{
    ViewBag.Title = "ContactResult";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>ContactResult</h2>

<div>
    <p>Text: @ViewBag.Text</p>
    <p>Number: @ViewBag.Number</p>
    <p>Radio Option: @ViewBag.RadioOption</p>
    <p>Select Option: @ViewBag.SelectOption</p>
    <p>Multi-Select Options: @ViewBag.MultiSelectOptions</p>
</div>