
@{
    ViewBag.Title = "ContactResult";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>ContactResult</h2>

<div>
    <p>Text: @ViewBag.name</p>
    <p>Number: @ViewBag.age</p>
    <p>Radio Option: @ViewBag.gender</p>
    <p>Select Option: @ViewBag.select</p>
    <p>Multi-Select Options: @ViewBag.MultiSelectOptions</p>
</div>